 ------
 Introduction
 ------
 Kristian Andersen
 ------
 2010-04-21
 ------

~~   Copyright 2010 Kristian Andersen
~~
~~   Licensed under the Apache License, Version 2.0 (the "License");
~~   you may not use this file except in compliance with the License.
~~   You may obtain a copy of the License at
~~
~~       http://www.apache.org/licenses/LICENSE-2.0
~~
~~   Unless required by applicable law or agreed to in writing, software
~~   distributed under the License is distributed on an "AS IS" BASIS,
~~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~   See the License for the specific language governing permissions and
~~   limitations under the License.
~~
~~   NOTE: For help with the syntax of this file, see:
~~   http://maven.apache.org/doxia/references/apt-format.html

What

  WarpDrive is a {{{http://maven.apache.org}Maven}} plugin, a JEE tag library and a JEE Servlet filter. Togehter they can help implement
  several {{{http://developer.yahoo.com/performance/rules.html}well-known best practices}} for high performance websites.

  WarpDrive is influenced by the excellent {{{http://www.grails.org/plugin/ui-performance}UI Performance plugin}} for the {{{http://grails.org}Grails framework}}.

Why

  Fast-loading websites {{{http://googleresearch.blogspot.com/2009/06/speed-matters.html}are way better}} than a slow-loading websites.

  Getting the HTML document to the browser accounts for only {{{http://stevesouders.com/hpws/rules.php}10-20%}} of the end-user response time. The rest of the time is spent
  dealing with images, stylesheets, scripts etc. So to make a website noticably faster for end-users, this is an important part to optimize.

How

  Enabling WarpDrive for your webapp is a two-step process. First you need to add the WarpDrive Runtime compomenents
  and the Warpdrive Maven plugin to your pom.xml.
  And if you want WarpDrive to handle your cache-headers as well it is also required to configure the Maven War
  plugin to use the web.xml descriptor that will be automatically generated by the WarpDrive Maven plugin:

+----------------------------------------------------------------------+

  <project>
  (...)
  <packaging>war</packaging>
  (...)
  <build>
      <plugins>
          <plugin>
              <groupId>org.kriand.warpdrive</groupId>
              <artifactId>maven-warpdrive-plugin</artifactId>
              <version>${project.version}</version>
              <executions>
                  <execution>
                      <goals>
                          <goal>warpspeed</goal>
                      </goals>
                      <configuration>
                      (...)
                      </configuration>
                      </execution>
                  </executions>
              </plugin>
              (...)
              <plugin>
                  <groupId>org.apache.maven.plugins</groupId>
                  <artifactId>maven-war-plugin</artifactId>
                  <configuration>
                      <webXml>target/warpdrive-web.xml</webXml>
                  </configuration>
              </plugin>
        </plugins>
    </build>
    (...)
    <dependencies>
        (...)
        <dependency>
            <groupId>org.kriand.warpdrive</groupId>
            <artifactId>warpdrive-runtime</artifactId>
            <version>${project.version}</version>
            <scope>runtime</scope>
        </dependency>
    </dependencies>
    (...)
</project>
+----------------------------------------------------------------------+
  <For detailed information on how to use the plugin, please refer to the {{{./maven-warpdrive-plugin/}plugin documentation}}>



  Now with the plugin configured the provided tag libraries can be used in the views:

+----------------------------------------------------------------------+
<%@ taglib prefix="w" uri="http://kriand.org/warpdrive/taglib" %>
<html>
    <head>
        <w:dependantScripts>
            <w:script src="script.js"/>
        </w:dependantScripts>
        <w:stylesheet href="style.css"/>
    </head>
    <body>
        That was quick! <w:image src="image.png"/>
        <w:renderDependantScripts/>
    </body>
</html>
+----------------------------------------------------------------------+
  <For further description of the available tags, please refer to the {{{./warpdrive-runtime/}documentation}}>